# secrets / env
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.log
node_modules/

# editors
.vscode/
.idea/

# os
.DS_Store
Thumbs.db

# tests/cache
**/.pytest_cache/

# docker (если появятся локальные каталоги)
*.pid
