# Игнорировать кэш и скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать папки виртуальных окружений
venv/
env/
.venv/
.env

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать папки редакторов кода
.idea/
.vscode/

# Игнорировать зависимости npm
node_modules/